# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Env
.env
*.env

# Django
db.sqlite3
/media/
staticfiles/
static/
*.log

# VS Code
.vscode/
temp/
media/

# Virtual Environment
venv/
env/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Cache
*.cache
