asgiref==3.10.0
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cssselect2==0.8.0
Django==5.2.8
djangorestframework==3.16.1
docx2pdf==0.1.8
et_xmlfile==2.0.0
fonttools==4.60.1
gunicorn==23.0.0
lxml==6.0.2
numpy==2.2.6
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pdf2image==1.17.0
pillow==12.0.0
pycparser==2.23
pydyf==0.11.0
pypdf==6.3.0
PyPDF2==3.0.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-pptx==1.0.2
pytz==2025.2
pywin32==311
reportlab==4.4.4
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
xlsxwriter==3.2.9
zopfli==0.4.0
